.container-adm{
  margin: auto;
  background: #FFF;
  backdrop-filter: blur(2px); 
  min-height: 85vh;
  max-width: 400px;
  width: 100%;
}

.line-adm{
  display: flex;
  justify-content: center;
}

.col-fluxo, .col-consulta{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-fluxo{
    width: 250px;
    background:#00EE99;
    padding: 1rem;
    border-radius: 0.3rem;
    border: none;
    overflow: hidden;
    font-weight: 500;
    color: white;
    margin: 20px ;
    cursor: pointer;
  }
  .button-fluxo:hover{
    background-color: #02b677;
    box-shadow: 0px 4px 7px 0px rgba(160,160,160,0.25)
  }
  .button-consulta{
    width: 250px;
    background: #00EE99;
    padding: 1rem;
    border-radius: 0.3rem;
    border: none;
    overflow: hidden;
    font-weight: 500;
    color: white;
    margin: 20px;
    cursor: pointer;

  }
  .button-consulta:hover{
    background-color: #02b677;
    box-shadow: 0px 4px 7px 0px rgba(160,160,160,0.25)
  }

 
  @media only screen and (max-width: 1024px) {
  
    .button-fluxo, .button-consulta{
       font-size: 15px;
  }
}

@media only screen and (max-width: 720px) {

  .logoif{
      width: 100px;
      height: 120px;
  }
}