.container-cadastro{
  margin: auto;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border: none;
  min-height: 85vh;
  max-width: 700px;
  width: 100%;
}

.form-cadastro{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.line-cadastro{
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
}

.line-contato-cadastro{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.line-button-cadastro{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
}


.col-cadastro{
  width: 55%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 2rem 0rem 2rem;
}

.col-cadastro-logo{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem 2rem 0rem 2rem;
}

.col-nome-cadastro,
.col-user-cadastro{
  padding: 1.5rem 2rem 0rem 2rem;
}

.col-email-cadastro{
  padding: 1.5rem 2rem 0rem 0.5rem;
  width: 50%;
}

.col-tel-cadastro{
  padding: 1.5rem 0.5rem 0rem 2rem;
  width: 50%;
}

.col-foto-cadastro{
  padding: 1.5rem 2rem 0rem 2rem;
  display: flex;
  justify-content: center;
}

.form-control-cadastro {
  padding: 5px;
  margin: 5px 0;
  outline: none;
  height: 45px;
  width: 100% ;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ADADAD;
  background-color: white;
  color: #757575;
  font-size: 15px;
}

.form-control-cadastro:hover,.form-control-cadastro:focus,.form-control-cadastro:active {
  border-color: transparent;
  border-bottom: 2px solid #00EE99;
  border-radius: 0;
}


.button-camera-cadastro{
    background-color: #00ee98;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
  }

  .button-camera-cadastro:hover{
    background-color: #02b677;
    box-shadow: 0px 4px 7px 0px rgba(160,160,160,0.25)
  }

  .button-registro-cadastro{
    background-color: #00ee98;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .button-registro-cadastro:hover{
    background-color: #02b677;
    box-shadow: 0px 4px 7px 0px rgba(160,160,160,0.25);
  }

  .button-voltar-cadastro{
    background-color: transparent;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    border: none;
    color:#00ee98;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
   
  }

  .button-voltar-cadastro:hover{
    color: #FFF;
    background-color: #02b677;
    box-shadow: 0px 4px 7px 0px rgba(160,160,160,0.25);
  }

  @media only screen and (max-width: 1024px) {
  
    body, html{
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
    }
  
    .container-cadastro{
      min-height: 45vh;
    }
  
    .button-registro-cadastro, .button-voltar-cadastro{
       font-size: 15px;
  }
  }

  @media only screen and (max-width: 720px) {

    body, html{
        height: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
  
    .container-cadastro{
        box-shadow: none;
        max-width: 80%;
    }
    
    .line-cadastro{
      padding: 0rem 0rem 1rem 0rem;
    }

    .logoif{
        width: 100px;
        height: 120px;
    }

    .col-user-cadastro,
    .col-nome-cadastro{
      padding: 1.5rem 0.5rem 0rem 0.5rem;
    }

    .col-cadastro{
      padding: 1.5rem 0.5rem 0rem 0.5rem;
    }

    .col-cadastro-logo{
      padding: 1.5rem 0.5rem 0rem 2rem;
    }

    .line-contato-cadastro{
      display: block;
    }

    .col-tel-cadastro, 
    .col-email-cadastro {
      padding: 1.5rem 0.5rem 0rem 0.5rem;
      width: 100%;
    }

    .line-button-cadastro{
      justify-content: space-between;
      padding: 2rem 1rem 1rem 1rem; ;
    }
  }

  @media only screen and (max-width: 480px){
  
    .container-cadastro{
        max-width: 90%;
    }
  
  }